<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

	<ui:define name="title">SELLER Home Page</ui:define>
	<ui:define name="menu">
	</ui:define>
	<ui:define name="content">

		<h2>welcome SELLER #{identityBean.youBayUserfound.firstName}</h2>
		<h:form>
			<h:dataTable border="2" value="#{sellerProductsBean.products}"
				var="p">
				<h:column id="column1">
					<f:facet name="header">
						<h:outputText value="Name"></h:outputText>
					</f:facet>
					<h:outputText value="#{p.productName}" />
				</h:column>
				<h:column id="column2">
					<f:facet name="header">
						<h:outputText value="Description"></h:outputText>
					</f:facet>
					<h:outputText value="#{p.productDescription}" />
				</h:column>
				<h:column id="column3">
					<f:facet name="header">
						<h:outputText value="Quantity"></h:outputText>
					</f:facet>
					<h:outputText value="#{p.quantityAvailable}" />
				</h:column>
				<h:column id="column4">
					<f:facet name="header">
						<h:outputText value="#"></h:outputText>
					</f:facet>
					<h:commandButton action="#{manageSellersBean.doSelect()}"
						value="select">
						<f:setPropertyActionListener value="#{s}"
							target="#{manageSellersBean.sellerChosen}"></f:setPropertyActionListener>
					</h:commandButton>
				</h:column>
			</h:dataTable>
			<h:commandButton action="#{manageSellersBean.doDisplayTable}"
				value="create Seller" />
			<h:panelGrid columns="2" rendered="#{manageSellersBean.displyTable}">
				<h:outputText value="Name" />
				<h:inputText value="#{sellerProductsBean.productChosen.productName}" />

				<h:outputText value="Description" />
				<h:inputText
					value="#{sellerProductsBean.productChosen.productDescription}" />

				<h:outputText value="Quantity" />
				<h:inputText
					value="#{sellerProductsBean.productChosen.quantityAvailable}" />

				<h:commandButton action="#{sellerProductsBean.doCreateProduct()}"
					value="save or update" />
				<h:commandButton action="#{sellerProductsBean.doDeleteProduct()}"
					value="delete" />
			</h:panelGrid>
		</h:form>



		<h:form id="form">
			<p:dataGrid var="p" value="#{sellerProductsBean.products}" columns="3"
				layout="grid" rows="12" paginator="true" id="products"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="6,12,16">

				<f:facet name="header">
            Products in Sale
        </f:facet>

				<p:panel header="#{sellerProductsBean.productChosen.productName}" style="text-align:center">
					<h:panelGrid columns="1" style="width:100%">
						<p:graphicImage name="demo/images/image.gif" />

						<h:outputText value="#{p.productName}" />

						<p:commandLink update=":form:carDetail"
							oncomplete="PF('carDialog').show()" title="View Detail">
							<h:outputText styleClass="ui-icon ui-icon-search"
								style="margin:0 auto;" />
							<f:setPropertyActionListener value="#{p}"
								target="#{sellerProductsBean.productChosen}" />
						</p:commandLink>
					</h:panelGrid>
				</p:panel>

			</p:dataGrid>

			<p:dialog header="Car Info" widgetVar="carDialog" modal="true"
				showEffect="fade" hideEffect="fade" resizable="false">
				<p:outputPanel id="carDetail" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{not empty sellerProductsBean.productChosen}"
						columnClasses="label,value">
						<f:facet name="header">
							<p:graphicImage
								name="demo/images/img/#{sellerProductsBean.productChosen.productImage}" />
						</f:facet>

						<h:outputText value="Id:" />
						<h:outputText value="#{sellerProductsBean.productChosen.productId}" />

						<h:outputText value="Year" />
						<h:outputText value="#{sellerProductsBean.productChosen.productName}" />

						<h:outputText value="Color:" />
						<h:outputText value="#{sellerProductsBean.productChosen.productDescription}"
							style="color:#{dataGridView.selectedCar.color}" />

						<h:outputText value="Price" />
						<h:outputText value="$#{sellerProductsBean.productChosen.sellerPrice}" />
					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>
		</h:form>

	</ui:define>

</ui:composition>