<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

	<ui:define name="title">Manager Home Page</ui:define>
	<ui:define name="menu">
	</ui:define>
	<ui:define name="content">

		<h2>MANAGER HOME PAGE</h2>

		<h:form>
			<h:commandLink action="manageSellers" value="manage Sellers" />
			<br />
			<h:commandLink action="manageProducts" value="manage products" />
			<br />
			<h:commandLink action="manageCategories" value="manage categories" />
		</h:form>
	</ui:define>

</ui:composition>