<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   template="/template/template.xhtml">
	
	<ui:define name="title">Create New Account </ui:define>
	<ui:define name="menu">	</ui:define>
	<ui:define name="content">
		
		<h:form>
    			
    	 <p:panel header="Subscription">
        <p:messages autoUpdate="true"/>
 
        <h:panelGrid id="grid" columns="3" cellpadding="5">
            <h:outputLabel for="name" value="Name:" style="font-weight:bold"/>                    
            <p:inputText id="name" value="#{subscribe.firstName}" required="true" label="Name" validatorMessage="Name is required"/>
            <p:message for="name" />
            
 
        </h:panelGrid>
 
        <p:commandButton value="Ajax" update="grid" icon="ui-icon-check" validateClient="true" style="margin-right:10px"/>
    </p:panel>
    			
    			
    			
    			
    			
    			<p:messages showDetail="true"/>
    			<p:captcha label="Captcha" />
    			<p:commandButton value="Check" actionListener="#{subscribe.subs()}" ajax="false" icon="ui-icon-check"/>
		</h:form>
		
	</ui:define>

</ui:composition>