<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://xmlns.jcp.org/jsf/html" 
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"  
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	template="/template/template.xhtml"	
	>
	<ui:define name="title">Welcome To YouBay</ui:define>
	
	<p:panel header="Login form" >
		<p:messages autoUpdate="true" closable="true"/>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="email" />
				<p:inputText value="#{authentification.email}" />
				<h:outputText value="password" />
				<p:password value="#{authentification.password}" />
				<p:commandButton value="login" action="#{authentification.doLogin()}" ajax="false"/>
			</h:panelGrid>
		</h:form>
	</p:panel>
</ui:composition>
