<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<!-- Basic -->
	<meta charset="utf-8" />
	<title><ui:insert name="title">Porto - Responsive HTML5 Template 3.7.0</ui:insert></title>
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template" />
	<meta name="author" content="okler.net" />

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Web Fonts  -->
<!-- 	<link  href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"	rel="stylesheet" type="text/css" /> -->

	<!-- Vendor CSS -->
	<!-- 		<link rel="stylesheet" href="vendor/bootstrap/bootstrap.css"> -->
	<!-- 		<link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css"> -->
	<!-- 		<link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css" media="screen"> -->
	<!-- 		<link rel="stylesheet" href="vendor/owlcarousel/owl.theme.default.min.css" media="screen"> -->
	<!-- 		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen"> -->

	<h:outputStylesheet name="/vendor/bootstrap/bootstrap.css"></h:outputStylesheet>
	<h:outputStylesheet name="/vendor/fontawesome/css/font-awesome.css"></h:outputStylesheet>
	<h:outputStylesheet name="/vendor/owlcarousel/owl.carousel.min.css"></h:outputStylesheet>
	<h:outputStylesheet
		name="/vendor/owlcarousel/owl.theme.default.min.css"></h:outputStylesheet>
	<h:outputStylesheet name="/vendor/magnific-popup/magnific-popup.css"></h:outputStylesheet>

	<!-- Theme CSS -->
	<!-- 		<link rel="stylesheet" href="css/theme.css"> -->
	<!-- 		<link rel="stylesheet" href="css/theme-elements.css"> -->
	<!-- 		<link rel="stylesheet" href="css/theme-blog.css"> -->
	<!-- 		<link rel="stylesheet" href="css/theme-shop.css"> -->
	<!-- 		<link rel="stylesheet" href="css/theme-animate.css"> -->

	<h:outputStylesheet name="/css/theme.css"></h:outputStylesheet>
	<h:outputStylesheet name="/css/theme-elements.css"></h:outputStylesheet>
	<h:outputStylesheet name="/css/theme-blog.css"></h:outputStylesheet>
	<h:outputStylesheet name="/css/theme-shop.css"></h:outputStylesheet>
	<h:outputStylesheet name="/css/theme-animate.css"></h:outputStylesheet>

	<!-- Current Page CSS -->
	<!-- 	<link rel="stylesheet" href="vendor/rs-plugin/css/settings.css" media="screen"> -->
	<!-- 	<link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css" media="screen"> -->

	<h:outputStylesheet name="/vendor/rs-plugin/css/settings.css"
		media="screen"></h:outputStylesheet>
	<h:outputStylesheet
		name="/vendor/circle-flip-slideshow/css/component.css" media="screen"></h:outputStylesheet>

	<!-- Skin CSS -->
	<!-- 			<link rel="stylesheet" href="css/skins/default.css"> -->
	<h:outputStylesheet name="/css/skins/default.css"></h:outputStylesheet>
	<!-- Theme Custom CSS -->
	<!-- 			<link rel="stylesheet" href="css/custom.css"> -->
	<h:outputStylesheet name="/css/custom.css"></h:outputStylesheet>

	<!-- Head Libs -->
	<!-- 					<script src="vendor/modernizr/modernizr.js"></script> -->

	<h:outputScript name="/vendor/modernizr/modernizr.js"></h:outputScript>

</h:head>

<h:body>

	<div class="body">

<ui:include src="/template/header.xhtml" />
<ui:insert name="content">
		<div role="main" class="main">

			<div class="slider-container">
				<div class="slider" id="revolutionSlider"
					data-plugin-revolution-slider="">
					<ul>
						<li data-transition="fade" data-slotamount="13"
							data-masterspeed="300">
							<!-- ATTENTION BLEU IMAGE --> <!-- 						<img src="img/custom-header-bg.jpg"	data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->
							<h:graphicImage name="/img/custom-header-bg.jpg" />

							<div class="tp-caption sft stb visible-lg" data-x="177"
								data-y="180" data-speed="300" data-start="1000"
								data-easing="easeOutExpo">
								<!-- 									<img src="img/slides/slide-title-border.png" alt=""> -->
								<!--ATTENTION the red little peace -->
								<h:graphicImage name="/img/slides/slide-title-border.png" />
							</div>

							<div class="tp-caption top-label lfl stl" data-x="227"
								data-y="180" data-speed="300" data-start="500"
								data-easing="easeOutExpo">DO YOU NEED A NEW</div>

							<div class="tp-caption sft stb visible-lg" data-x="477"
								data-y="180" data-speed="300" data-start="1000"
								data-easing="easeOutExpo">

								<!-- 									<img src="img/slides/slide-title-border.png" alt=""> -->
								<!--ATTENTION the red little peace again -->
								<h:graphicImage name="/img/slides/slide-title-border.png" />
							</div>

							<div class="tp-caption main-label sft stb" data-x="135"
								data-y="210" data-speed="300" data-start="1500"
								data-easing="easeOutExpo">WEB DESIGN?</div>

							<div class="tp-caption bottom-label sft stb" data-x="185"
								data-y="280" data-speed="500" data-start="2000"
								data-easing="easeOutExpo">Check out our options and
								features.</div>

							<div class="tp-caption customin customout" data-x="right"
								data-hoffset="0" data-y="bottom" data-voffset="0"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800" data-start="700" data-easing="Power4.easeOut"
								data-endspeed="500" data-endeasing="Power4.easeIn"
								style="z-index: 3">

								<!-- 									<img src="img/slides/mobile-device.png" alt=""> -->
								<h:graphicImage name="/img/slides/mobile-device.png" />


							</div>
						</li>
						<li data-transition="fade" data-slotamount="13"
							data-masterspeed="300">
							<!-- 							<img src="img/custom-header-bg.jpg"	data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->

							<h:graphicImage name="/img/custom-header-bg.jpg"
								data-bgfit="cover" data-bgposition="left top"
								data-bgrepeat="no-repeat" />

							<div class="tp-caption customin customout" data-x="center"
								data-hoffset="0" data-y="center" data-voffset="0"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800" data-start="700" data-easing="Power4.easeOut"
								data-endspeed="500" data-endeasing="Power4.easeIn"
								style="z-index: 3">
								<!-- <img src="img/slides/slide-concept-draft.png" alt="">	-->
								<h:graphicImage name="/img/slides/slide-concept-draft.png" />
							</div>

							<div class="tp-caption customin customout" data-x="center"
								data-hoffset="0" data-y="center" data-voffset="-6"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="600" data-start="100" data-easing="Power4.easeOut"
								data-endspeed="500" data-endeasing="Power4.easeOut"
								data-autoplay="false" data-autoplayonlyfirsttime="false"
								style="z-index: 8">
								<!--ATTENTION VIDEO ZONE -->

<!-- 								<iframe frameborder='no' -->
<!-- 									src="https://www.youtube.com/watch?v=JByDbPn6A1o" width='640' -->
<!-- 									height='360' style='width: 640px; height: 360px;'> -->
<!-- 								</iframe> -->
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="home-intro">
				<div class="container">

					<div class="row">
						<div class="col-md-8">
							<p>
								The fastest way to grow your business with the leader in <em>Technology</em>
								<span>Check out our options and features included.</span>
							</p>
						</div>
						<div class="col-md-4">
							<div class="get-started">
								<a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
								<div class="learn-more">
									or <a href="index.html">learn more.</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<section class="top">
			<div class="container">
				<div class="row push-top" id="projects">
					<div class="col-md-12">
						<div id="popupProject" class="popup-inline-content">
							<!-- ATTENTION THIS IS THE OFFRE TITLE -->
							<h2>Lorem Ipsum Dolor</h2>
							<div class="row">
								<div class="col-md-6">

									<!-- <img class="img-thumbnail img-responsive" alt="" src="img/projects/project.jpg"> -->

									<h:graphicImage name="/img/projects/project.jpg"
										class="img-thumbnail img-responsive" />

								</div>

								<div class="col-md-6">

									<h4>
										Project <strong>Description</strong>
									</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit
										purus. Suspendisse potenti. Proin quis eros odio, dapibus
										dictum mauris. Donec nisi libero, adipiscing id pretium eget,
										consectetur sit amet leo. Nam at eros quis mi egestas
										fringilla non nec purus.</p>

									<a href="#" class="btn btn-primary">Live Preview</a> <span
										class="arrow hlb"></span>

									<h4 class="push-top">Services</h4>

									<ul class="list icons list-unstyled">
										<li><i class="fa fa-check"></i> Design</li>
										<li><i class="fa fa-check"></i> HTML/CSS</li>
										<li><i class="fa fa-check"></i> Javascript</li>
										<li><i class="fa fa-check"></i> Backend</li>
									</ul>

								</div>
							</div>
						</div>

						<div class="owl-carousel owl-carousel-spaced"
							data-plugin-options='{"items": 4}'>
							<div>
								<div class="portfolio-item img-thumbnail">
									<a class="thumb-info lightbox" href="#popupProject"
										data-plugin-options='{"type":"inline", preloader: false}'>

										<!-- 										<img alt="" class="img-responsive"	src="img/projects/project.jpg"> -->
										<h:graphicImage name="/img/projects/project.jpg" alt=""
											class="img-responsive" /> <span class="thumb-info-title">
											<span class="thumb-info-inner">SEO</span> <span
											class="thumb-info-type">Website</span>
									</span> <span class="thumb-info-action"> <span
											title="Universal" class="thumb-info-action-icon"><i
												class="fa fa-link"></i></span>
									</span>
									</a>
								</div>
							</div>
							<!-- ATTENTION PRODUCT LABEL AND DESC -->
						</div>
					</div>
				</div>

				<hr class="tall" />

			</div>
			</section>

			<section class="featured highlight footer">
			<div class="container">
				<div class="row center counters">
					<div class="col-md-3">
						<strong data-to="7000">0</strong> <label>Happy Clients</label>
					</div>
					<div class="col-md-3">
						<strong data-to="15">0</strong> <label>Years in Business</label>
					</div>
					<div class="col-md-3">
						<strong data-to="352">0</strong> <label>Cups of Coffee</label>
					</div>
					<div class="col-md-3">
						<strong data-to="159">0</strong> <label>High Score</label>
					</div>
				</div>
			</div>
			</section>
			<section class="video" data-video-path="#{request.contextPath}/resources/video/dark"
				data-plugin-video-background=""
				data-plugin-options='{"posterType": "jpg", "position": "50% 50%"}'>
			<div class="container">
				<div class="row center">
					<div class="col-md-6">

						<div class="row">
							<div class="owl-carousel" data-plugin-options='{"items": 1}'>
								<div>
									<blockquote>
										<p>
											<i class="fa fa-quote-left"></i> Hello, I want to thank you
											for creating a great template and for the excellent and quick
											support and help that you have been providing to me as I
											begin to work with it.
										</p>
										<span>- Joe Doe</span>
									</blockquote>
								</div>
								<div>
									<blockquote>
										<p>
											<i class="fa fa-quote-left"></i> Just want to say Okler
											RULES. Provide great tech service for each template and
											allows me to become more knowledgeable as a designer.
										</p>
										<span>- Edward Chelton</span>
									</blockquote>
								</div>
								<div>
									<blockquote>
										<p>
											<i class="fa fa-quote-left"></i> Just came here to say a big
											thank you to the author of this template. It works amazingly
											well, the documentation is top-notch, and the theme looks
											beautiful.
										</p>
										<span>- Bruce Ericson</span>
									</blockquote>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
			</section>

			<!-- 			<div class="container"> -->
			<!-- 				<div class="row"> -->
			<!-- 					<div class="col-md-5"> -->
			<!-- 						<h2> -->
			<!-- 							<strong>Who</strong> We Are -->
			<!-- 						</h2> -->
			<!-- 						<p> -->
			<!-- 							Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
			<!-- 							Curabitur pellentesque neque eget diam posuere porta. Quisque ut -->
			<!-- 							nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing -->
			<!-- 							porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a -->
			<!-- 							felis faucibus ornare vel id metus. Vestibulum ante ipsum primis -->
			<!-- 							in faucibus orci luctus et ultrices posuere cubilia Curae; In eu -->
			<!-- 							libero ligula. -->
			<!-- 						</p> -->
			<!-- 					</div> -->
			<!-- 					<div class="col-md-7"> -->
			<!-- 						<div class="progress-bars"> -->
			<!-- 							<div class="progress-label"> -->
			<!-- 								<span>HTML/CSS</span> -->
			<!-- 							</div> -->
			<!-- 							<div class="progress"> -->
			<!-- 								<div class="progress-bar progress-bar-primary" -->
			<!-- 									data-appear-progress-animation="100%"> -->
			<!-- 									<span class="progress-bar-tooltip">100%</span> -->
			<!-- 								</div> -->
			<!-- 							</div> -->
			<!-- 							<div class="progress-label"> -->
			<!-- 								<span>Design</span> -->
			<!-- 							</div> -->
			<!-- 							<div class="progress"> -->
			<!-- 								<div class="progress-bar progress-bar-primary" -->
			<!-- 									data-appear-progress-animation="85%" -->
			<!-- 									data-appear-animation-delay="300"> -->
			<!-- 									<span class="progress-bar-tooltip">85%</span> -->
			<!-- 								</div> -->
			<!-- 							</div> -->
			<!-- 							<div class="progress-label"> -->
			<!-- 								<span>WordPress</span> -->
			<!-- 							</div> -->
			<!-- 							<div class="progress"> -->
			<!-- 								<div class="progress-bar progress-bar-primary" -->
			<!-- 									data-appear-progress-animation="75%" -->
			<!-- 									data-appear-animation-delay="600"> -->
			<!-- 									<span class="progress-bar-tooltip">75%</span> -->
			<!-- 								</div> -->
			<!-- 							</div> -->
			<!-- 							<div class="progress-label"> -->
			<!-- 								<span>Photoshop</span> -->
			<!-- 							</div> -->
			<!-- 							<div class="progress"> -->
			<!-- 								<div class="progress-bar progress-bar-primary" -->
			<!-- 									data-appear-progress-animation="85%" -->
			<!-- 									data-appear-animation-delay="900"> -->
			<!-- 									<span class="progress-bar-tooltip">85%</span> -->
			<!-- 								</div> -->
			<!-- 							</div> -->
			<!-- 						</div> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<!-- 				<hr class="tall" /> -->
			<!-- 			</div> -->


			<section class="call-to-action featured footer">
			<div class="container">
				<div class="row">
					<div class="center">
						<h3>
							Porto is <strong>everything</strong> you need to create an <strong>awesome</strong>
							website! <a
								href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
								target="_blank" class="btn btn-lg btn-primary"
								data-appear-animation="bounceIn">Buy Now!</a> <span
								class="arrow hlb hidden-xs hidden-sm hidden-md"
								data-appear-animation="rotateInUpLeft" style="top: -22px;"></span>
						</h3>
					</div>
				</div>
			</div>
			</section>

		</div>
</ui:insert>
<ui:include src="/template/footer.xhtml" />
	
	</div>

	<!-- Vendor -->
	<!-- 	<script src="vendor/jquery/jquery.js"></script> -->
	<!-- 	<script src="vendor/jquery.appear/jquery.appear.js"></script> -->
	<!-- 	<script src="vendor/jquery.easing/jquery.easing.js"></script> -->
	<!-- 	<script src="vendor/jquery-cookie/jquery-cookie.js"></script> -->
	<!-- 	<script src="vendor/bootstrap/bootstrap.js"></script> -->
	<!-- 	<script src="vendor/common/common.js"></script> -->
	<!-- 	<script src="vendor/jquery.validation/jquery.validation.js"></script> -->
	<!-- 	<script src="vendor/jquery.stellar/jquery.stellar.js"></script> -->
	<!-- 	<script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script> -->
	<!-- 	<script src="vendor/jquery.gmap/jquery.gmap.js"></script> -->
	<!-- 	<script src="vendor/isotope/jquery.isotope.js"></script> -->
	<!-- 	<script src="vendor/owlcarousel/owl.carousel.js"></script> -->
	<!-- 	<script src="vendor/jflickrfeed/jflickrfeed.js"></script> -->
	<!-- 	<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script> -->
	<!-- 	<script src="vendor/vide/vide.js"></script> -->

	<h:outputScript name="/vendor/jquery/jquery.js"></h:outputScript>
	<h:outputScript name="/vendor/jquery.appear/jquery.appear.js"></h:outputScript>
	<h:outputScript name="/vendor/jquery.easing/jquery.easing.js"></h:outputScript>
	<h:outputScript name="/vendor/jquery-cookie/jquery-cookie.js"></h:outputScript>
	<h:outputScript name="/vendor/bootstrap/bootstrap.js"></h:outputScript>
	<h:outputScript name="/vendor/common/common.js"></h:outputScript>
	<h:outputScript name="/vendor/jquery.validation/jquery.validation.js"></h:outputScript>
	<h:outputScript name="/vendor/jquery.stellar/jquery.stellar.js"></h:outputScript>
	<h:outputScript
		name="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></h:outputScript>
	<h:outputScript name="/vendor/jquery.gmap/jquery.gmap.js"></h:outputScript>
	<h:outputScript name="/vendor/isotope/jquery.isotope.js"></h:outputScript>
	<h:outputScript name="/vendor/owlcarousel/owl.carousel.js"></h:outputScript>
	<h:outputScript name="/vendor/jflickrfeed/jflickrfeed.js"></h:outputScript>
	<h:outputScript name="/vendor/magnific-popup/jquery.magnific-popup.js"></h:outputScript>
	<h:outputScript name="/vendor/vide/vide.js"></h:outputScript>

	<!-- Theme Base, Components and Settings -->
	<!-- 	<script src="js/theme.js"></script> -->

	<h:outputScript name="/js/theme.js"></h:outputScript>

	<!-- Specific Page Vendor and Views -->
	<!-- 	<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script> -->
	<!-- 	<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> -->
	<!-- 	<script src="vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script> -->

	<h:outputScript
		name="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></h:outputScript>
	<h:outputScript
		name="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></h:outputScript>
	<h:outputScript
		name="/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></h:outputScript>

	<!-- 	<script src="js/views/view.home.js"></script> -->

	<h:outputScript name="/js/views/view.home.js"></h:outputScript>

	<!-- Theme Custom -->
	<!-- 	<script src="js/custom.js"></script> -->
	<h:outputScript name="/js/custom.js"></h:outputScript>

	<!-- Theme Initialization Files -->
	<!-- 	<script src="js/theme.init.js"></script> -->
	<h:outputScript name="/js/theme.init.js"></h:outputScript>

	<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script type="text/javascript">
		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12345678-1']);
			_gaq.push(['_trackPageview']);
		
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		</script>
		 -->

</h:body>
</html>